@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import '@clerk/ui/themes/shadcn.css';

@custom-variant dark (&:is(.dark *));

:root {
  --green-pea-50: #c4fde1;
  --green-pea-100: #53f7b8;
  --green-pea-200: #46d59e;
  --green-pea-300: #3bb788;
  --green-pea-400: #319c73;
  --green-pea-500: #288360;
  --green-pea-600: #1f6b4e;
  --green-pea-700: #1c6449;
  --green-pea-800: #195a41;
  --green-pea-900: #155039;
  --green-pea-1000: #134a35;
  --green-pea-1100: #114531;
  --green-pea-1200: #0f3f2c;
  --green-pea-1300: #0c3928;
  --green-pea-1400: #0a3323;
  --green-pea-1500: #082d1f;
  --green-pea-1600: #06271a;
  --green-pea-1700: #052116;
  --green-pea-1800: #031b11;
  --green-pea-1900: #02140c;

  --background: var(--green-pea-1900);
  --foreground: var(--green-pea-50);
  --border: var(--green-pea-800);
  --ring: var(--green-pea-400);
  --card: var(--green-pea-1800);
  --card-foreground: var(--green-pea-50);
  --popover: var(--green-pea-1800);
  --popover-foreground: var(--green-pea-50);
  --primary: var(--green-pea-400);
  --primary-foreground: var(--green-pea-1900);
  --secondary: var(--green-pea-800);
  --secondary-foreground: var(--green-pea-50);
  --muted: var(--green-pea-800);
  --muted-foreground: var(--green-pea-200);
  --accent: var(--green-pea-800);
  --accent-foreground: var(--green-pea-50);
  --destructive: oklch(0.577 0.245 27.325);
  --input: var(--green-pea-800);
  --chart-1: var(--green-pea-400);
  --chart-2: var(--green-pea-500);
  --chart-3: var(--green-pea-600);
  --chart-4: var(--green-pea-700);
  --chart-5: var(--green-pea-800);
  --radius: 0.625rem;
  --sidebar: var(--green-pea-1800);
  --sidebar-foreground: var(--green-pea-50);
  --sidebar-primary: var(--green-pea-400);
  --sidebar-primary-foreground: var(--green-pea-1900);
  --sidebar-accent: var(--green-pea-800);
  --sidebar-accent-foreground: var(--green-pea-50);
  --sidebar-border: var(--green-pea-800);
  --sidebar-ring: var(--green-pea-400);
}

@theme inline {
  --color-green-pea-50: var(--green-pea-50);
  --color-green-pea-100: var(--green-pea-100);
  --color-green-pea-200: var(--green-pea-200);
  --color-green-pea-300: var(--green-pea-300);
  --color-green-pea-400: var(--green-pea-400);
  --color-green-pea-500: var(--green-pea-500);
  --color-green-pea-600: var(--green-pea-600);
  --color-green-pea-700: var(--green-pea-700);
  --color-green-pea-800: var(--green-pea-800);
  --color-green-pea-900: var(--green-pea-900);
  --color-green-pea-1000: var(--green-pea-1000);
  --color-green-pea-1100: var(--green-pea-1100);
  --color-green-pea-1200: var(--green-pea-1200);
  --color-green-pea-1300: var(--green-pea-1300);
  --color-green-pea-1400: var(--green-pea-1400);
  --color-green-pea-1500: var(--green-pea-1500);
  --color-green-pea-1600: var(--green-pea-1600);
  --color-green-pea-1700: var(--green-pea-1700);
  --color-green-pea-1800: var(--green-pea-1800);
  --color-green-pea-1900: var(--green-pea-1900);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-input: var(--input);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-noto-serif-hentaigana);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-noto-serif-hentaigana);
  }
  main {
    @apply mx-auto px-14 flex flex-col gap-8 bg-background h-full max-w-350 pt-10 max-sm:px-2 mb-12;
  }
  h1 {
    @apply text-3xl font-bold;
  }
  h2{
    @apply text-2xl font-extrabold;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--green-pea-1900);
    --foreground: var(--green-pea-50);
    --border: var(--green-pea-200);
    --ring: var(--green-pea-500);
  }
}
